body {
    background-color: gainsboro ;
    font: 20px Helvetica,Arial,sans-serif;
}
.heading {
    background: #F9F8F8;
    border: 1px solid #DEDEDE;
    border-radius: 10px 10px 0 0;
    height: auto !important;
    margin-top: 33px;
    min-height: inherit;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
}

.jumbotron{
    background-image: url("https://unsplash.it/1200/768.jpg?image=367");
    background-position: center center;
    background-size: cover;
    color: #101820FF;
    font-size: 60px;
    font-weight: bolder;
}
