body {
    background-color: gainsboro ;
    font: 20px Helvetica,Arial,sans-serif;
}
.heading {
    background: #F9F8F8;
    border: 1px solid #DEDEDE;
    border-radius: 10px 10px 0 0;
    height: auto !important;
    margin-top: 33px;
    min-height: inherit;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
}
.jumbotron{
    background-image: url('https://picsum.photos/1900/1267?grayscale?blur');
    color: black;
}
