{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Login</title>
    {% endif %}
    
    {% block styles %}
        {% bootstrap_css %}
    {% endblock styles %}
        
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-info">Login</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>