{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success">Register Course</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}
