{% extends 'base.html' %}

{% block content %}
    <div class="container text-center"><br>
    <h1 style='color:green'>View Flash Card details</h1>
        <div class="heading">
                {% if flash_card %}
                    <h4>{{ flash_card.flash_title}}</h4><hr>
                    <p >{{ flash_card.flash_body}}</p>
                    <p><b>Course </b> :{{ flash_card.flash_course}} </p>
                    <p><b>Time created: </b> {{flash_card.date_created}} </p>
                    <p><b>Last Updated: </b> {{flash_card.date_updated}} </p>
                {% endif %}
        </div>
    </div>

{% endblock content %}